<template>
  <div class="w-100 d-flex justify-content-around py-4">
    <button
      class="btn btn-lg btn-warning font-weight-bold"
      :disabled="isAttack"
      name="attack"
      @click.prevent="playerAction"
    >
      Attack {{ attackTimerStr }}
    </button>
    <button
      class="btn btn-lg btn-danger font-weight-bold"
      :disabled="isSpecialAttack"
      name="specialAttack"
      @click.prevent="playerAction"
    >
      Special Attack {{ specialAttackTimerStr }}
    </button>
    <button
      class="btn btn-lg btn-success font-weight-bold"
      :disabled="isTakeCare"
      name="takeCare"
      @click.prevent="playerAction"
    >
      TakeCare {{ takeCareTimerStr }}
    </button>
    <button
      class="btn btn-lg btn-secondary font-weight-bold"
      name="giveUp"
      :disabled="isGiveUp"
      @click.prevent="playerAction"
    >
      Give Up {{ giveUpTimerStr }}
    </button>
  </div>
</template>

<script>
export default {
  name: "attack",
  data() {
    return {
      isAttack: false,
      isSpecialAttack: false,
      isTakeCare: false,
      isGiveUp: false,
      attackTimerStr: "",
      specialAttackTimerStr: "",
      takeCareTimerStr: "",
      giveUpTimerStr: "",
      action: {
        attack: this.timerAttack,
        specialAttack: this.timerSpecialAttack,
        takeCare: this.timerTakeCare,
        giveUp: this.timerGiveUp
      }
    };
  },
  props: {
    attackTimer: Number,
    specialAttackTimer: Number,
    takeCareTimer: Number,
    giveUpTimer: Number,
    turn: Boolean,
    start: Boolean
  },
  mounted() {
    this.setTimers();
  },
  methods: {
    playerAction(event) {
      this.action[event.target.name] ? this.action[event.target.name]() : false;
      this.$emit("player_action", event);
    },
    setTimers() {
      this.timerAttack();
      this.timerSpecialAttack();
      this.timerTakeCare();
      this.timerGiveUp();
    },
    timerAttack() {
      this.isAttack = true;
      let _attackTimer = this.attackTimer;
      let timeout = this.attackTimer * 1000;
      this.attackTimerStr = "" + _attackTimer;
      const interval = setInterval(() => {
        this.attackTimerStr = --_attackTimer || "";
      }, 1000);
      setTimeout(() => {
        this.isAttack = false;
        clearInterval(interval);
      }, timeout);
    },
    timerSpecialAttack() {
      this.isSpecialAttack = true;
      let _specialAttackTimer = this.specialAttackTimer;
      let timeout = this.specialAttackTimer * 1000;
      this.specialAttackTimerStr = "" + _specialAttackTimer;
      const interval = setInterval(() => {
        this.specialAttackTimerStr = --_specialAttackTimer || "";
      }, 1000);
      setTimeout(() => {
        this.isSpecialAttack = false;
        clearInterval(interval);
      }, timeout);
    },
    timerTakeCare() {
      this.isTakeCare = true;
      let _takeCareTimer = this.takeCareTimer;
      let timeout = this.takeCareTimer * 1000;
      this.takeCareTimerStr = "" + _takeCareTimer;
      const interval = setInterval(() => {
        this.takeCareTimerStr = --_takeCareTimer || "";
      }, 1000);
      setTimeout(() => {
        this.isTakeCare = false;
        clearInterval(interval);
      }, timeout);
    },
    timerGiveUp() {
      this.isGiveUp = true;
      let _giveUpTimer = this.giveUpTimer;
      let timeout = this.giveUpTimer * 1000;
      this.giveUpTimerStr = "" + _giveUpTimer;
      const interval = setInterval(() => {
        this.giveUpTimerStr = --_giveUpTimer || "";
      }, 1000);
      setTimeout(() => {
        this.isGiveUp = false;
        clearInterval(interval);
      }, timeout);
    }
  }
};
</script>

<style lang="css" scoped>
.w-100.d-flex.justify-content-around {
  background-color: rgb(225, 208, 208);
}
</style>
