<template>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 m-0">
            <ul class="list-group list-group-flush">
                <li v-for="(item,index) in attackPoints" :key="index" class="list-group-item bg-light font-weight-bold" v-bind:class="{ 'text-danger': !item.turn, 'text-primary': item.turn}">{{item.value}}</li>
            </ul>
        </div>
    </div>
</div>
    
    
    
</template>

<script>
export default {
    name: 'attackPoints',
    props: {
        attackPoints: Array,
    }
}
</script>
<style lang="stylus" scoped>

</style>