<template>
  <div class="container p-0">
    <div class="row mb-5 p-0 m-0">
      <div class="col-md-6">
        <fighter :player="player1" :health="player1Health"></fighter>
      </div>
      <div class="col-md-6">
        <fighter :player="player2" :health="player2Health"></fighter>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <h2 class="text-success font-weight-bold ">
          <b>WINNER IS {{ winner }}</b>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <router-link
          to="/playing"
          type="button"
          class="btn btn-outline-success btn-lg btn-block font-weight-bold"
        >
          <b>Play Again</b>
        </router-link>
      </div>
    </div>
    <div class="row mb-5">
      <attackPoints :attackPoints="attackPoints"></attackPoints>
    </div>
  </div>
</template>

<script>
import fighter from "./fighter";
import attackPoints from "./attackPoints";

export default {
  name: "endGame",
  components: {
    fighter,
    attackPoints
  },
  data() {
    return {
      player1: "PLAYER",
      player2: "MONSTER",
      player1Health: 1,
      player2Health: 1,
      attackPoints: [],
      winner: ""
    };
  },
  mounted() {
    const params = this.$route.params;
    this.player1Health = +params.p1h;
    this.player2Health = +params.p2h;
    this.winner = params.winner;
    this.attackPoints = params.attackLog;
  }
};
</script>
