<template>
  <div class="container-fluid p-0 m-0">
    <div class="row align-items-center py-3">
      <div class="col-md-3 m-0 pr-0">
        <h3 class="m-0 ">
          <b>{{ player }}</b>
        </h3>
      </div>
      <div class="col-md-9 m-0 pl-0">
        <div class="progress w-50 ml-5 ">
          <div
            id="player"
            class="progress-bar"
            role="progressbar"
            :style="{ width: health + '%' }"
            :aria-valuenow="health"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <b>{{ health }}%</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "fighter",
  props: {
    player: String,
    health: Number
  }
};
</script>

<style scoped>
.progress.w-50 {
  height: 30px;
  font-size: 20px;
}
.row.align-items-center {
  background-color: rgb(225, 208, 208);
}
</style>
