<template>
  <div class="container p-0">
    <div class="row mb-5 p-0 m-0">
      <div class="col-md-6">
        <fighter :player="player1" :health="player1Health"></fighter>
      </div>
      <div class="col-md-6">
        <fighter :player="player2" :health="player2Health"></fighter>
      </div>
    </div>
    <div class="row mx-1 bg-light">
      <attack
        :attackTimer="attackTimer"
        :specialAttackTimer="specialAttackTimer"
        :takeCareTimer="takeCareTimer"
        :giveUpTimer="giveUpTimer"
        @player_action="getAction"
      ></attack>
    </div>
    <div class="row mb-5">
      <attackPoints :attackPoints="attackPoints"></attackPoints>
    </div>
  </div>
</template>

<script>
import fighter from "./fighter.vue";
import attack from "./attack.vue";
import attackPoints from "./attackPoints.vue";

export default {
  name: "game",
  components: {
    fighter,
    attack,
    attackPoints
  },
  mounted() {
    this.startGame();
  },
  data() {
    return {
      player1: "PLAYER",
      player2: "MONSTER",
      attackTimer: 2, //seconds
      specialAttackTimer: 4, //seconds
      takeCareTimer: 5, //seconds
      giveUpTimer: 1, //seconds
      player1Health: 100,
      player2Health: 100,
      attackPoints: [],
      monsterInterval: 2,
      actions: {
        attack: this.attack,
        specialAttack: this.specialAttack,
        takeCare: this.takeCare,
        giveUp: this.giveUp
      },
      monsterAction: [
        {
          allow: true,
          timer: this.attackTimer,
          action: this.attack
        },
        {
          allow: true,
          timer: this.specialAttackTimer,
          action: this.specialAttack
        },
        {
          allow: true,
          timer: this.takeCareTimer,
          action: this.takeCare
        }
      ]
    };
  },
  watch: {
    player1Health: function() {
      this.player1Health <= 0 ? this.endGame(this.player2) : false;
    },
    player2Health: function() {
      this.player2Health <= 0 ? this.endGame(this.player1) : false;
    }
  },
  methods: {
    restartGame() {
      this.__initializeData();
      this.startGame();
    },
    startGame() {
      setTimeout(() => {
        this.monsterInterval = setInterval(() => {
          let index;
          do {
            index = Math.floor(Math.random() * this.monsterAction.length);
          } while (!this.monsterAction[index].allow);
          let monsterStep = this.monsterAction[index];
          monsterStep.allow = false;
          monsterStep.action(false);
          setTimeout(() => {
            monsterStep.allow = true;
          }, monsterStep.timer * 1000);
        }, this.monsterInterval * 1000);
      }, 500);
    },
    endGame(player) {
      this.$router.push({
        name: "end",
        params: {
          winner: player,
          p1h: this.player1Health,
          p2h: this.player2Health,
          attackLog: this.attackPoints
        }
      });
      clearTimeout(this.monsterInterval);
    },
    getAction({ target: { name } }) {
      this.actions[name] ? this.actions[name](true) : false;
    },
    attack(player) {
      const point = this.__definetAttackPointRange(10, 20);
      this.__decrementHealth(player, point);
      this.__attackLog(player, point, "ATTACK");
    },
    specialAttack(player) {
      const point = this.__definetAttackPointRange(20, 30);
      this.__decrementHealth(player, point);
      this.__attackLog(player, point, "SPECIAL ATTACK");
    },
    takeCare(player) {
      const helth = 30;
      this.__incrementHealth(player, helth);
      this.__attackLog(player, helth, "TAKE CARE");
    },
    giveUp() {
      this.player1Health = 0;
    },
    __decrementHealth(flag, value) {
      if (flag)
        this.player2Health =
          this.player2Health - value < 0 ? 0 : this.player2Health - value;
      else
        this.player1Health =
          this.player1Health - value < 0 ? 0 : this.player1Health - value;
    },
    __incrementHealth(flag, value) {
      if (flag)
        this.player1Health =
          this.player1Health + value > 100 ? 100 : this.player1Health + value;
      else
        this.player2Health =
          this.player2Health + value > 100 ? 100 : this.player2Health + value;
    },
    __attackLog(player, value, action) {
      let item = {
        turn: player,
        value: ` ${action}. ${player ? "🦸‍♂" : "🦖"} ${value} POINTS`
      };
      this.attackPoints.push(item);
    },
    __initializeData() {
      this.attackTimer = 2;
      this.specialAttackTimer = 4;
      this.takeCareTimer = 5;
      this.giveUpTimer = 1;
      this.player1Health = 100;
      this.player2Health = 100;
      this.attackPoints = [];
      this.monsterInterval = 2;
    },
    __definetAttackPointRange(min, max) {
      return Math.floor(Math.random() * min + max - min + 1);
    }
  }
};
</script>

<style></style>
