<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <router-link
          to="/playing"
          @click.prevent="start"
          class="btn btn-success btn-lg"
          >START GAME
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "startGame",
  methods: {
    start(event) {
      this.$emit("start_game", event);
    }
  }
};
</script>

<style lang="stylus" scoped></style>
